<!--
  Install the bootstrap with below command and check styles.css
  1.npm install bootstrap jquery --save

1.  Create an Employee class
2.Employee Service
3.Creating Employee List Template and Component
4.Create Add Employee Template and Component
5.Update Employee Template and Component
6.Create View Employee Details Template and Component
  - ng g s employee
– ng g c create-employee
– ng g c employee-details
– ng g c employee-list
- ng g c update-employee



C:\Users\Administrator\angularspringbootintegrationrestapimicroservices>ng g s myservices/employee
CREATE src/app/myservices/employee.service.spec.ts (367 bytes)
CREATE src/app/myservices/employee.service.ts (137 bytes)

C:\Users\Administrator\angularspringbootintegrationrestapimicroservices>ng g c create-employee
CREATE src/app/create-employee/create-employee.component.html (30 bytes)
CREATE src/app/create-employee/create-employee.component.spec.ts (656 bytes)
CREATE src/app/create-employee/create-employee.component.ts (310 bytes)
CREATE src/app/create-employee/create-employee.component.css (0 bytes)
UPDATE src/app/app.module.ts (509 bytes)

C:\Users\Administrator\angularspringbootintegrationrestapimicroservices>ng g c employee-details
CREATE src/app/employee-details/employee-details.component.html (31 bytes)
CREATE src/app/employee-details/employee-details.component.spec.ts (663 bytes)
CREATE src/app/employee-details/employee-details.component.ts (314 bytes)
CREATE src/app/employee-details/employee-details.component.css (0 bytes)
UPDATE src/app/app.module.ts (629 bytes)

C:\Users\Administrator\angularspringbootintegrationrestapimicroservices>ng g c employee-list
CREATE src/app/employee-list/employee-list.component.html (28 bytes)
CREATE src/app/employee-list/employee-list.component.spec.ts (642 bytes)
CREATE src/app/employee-list/employee-list.component.ts (302 bytes)
CREATE src/app/employee-list/employee-list.component.css (0 bytes)
UPDATE src/app/app.module.ts (737 bytes)

C:\Users\Administrator\angularspringbootintegrationrestapimicroservices>ng g c update-employee
CREATE src/app/update-employee/update-employee.component.html (30 bytes)
CREATE src/app/update-employee/update-employee.component.spec.ts (656 bytes)
CREATE src/app/update-employee/update-employee.component.ts (310 bytes)
CREATE src/app/update-employee/update-employee.component.css (0 bytes)
UPDATE src/app/app.module.ts (853 bytes)
-->
<!--mysql> select * from hexa_angular_employees;
+--------+-----------------------+-------------+
| emp_id | email_address         | first_name  |
+--------+-----------------------+-------------+
|      1 | thanu@gmail.com       | Thananya    |
|      2 | abinayadevi@gmail.com | Abinayadevi |
|     52 | janu@gmail.com        | Janani      |
+--------+-----------------------+-------------+
3 rows in set (0.00 sec)
-->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <!-- a means anchor tag-->
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <!--Router-outlet in Angular works as a placeholder 
    which is used to load the different components dynamically 
    based on the activated component or current route state. 
    Navigation can be done using router-outlet directive and the 
    activated component will take place inside the router-outlet
     to load its content.

To enable routing, we need to use router-outlet into our HTML 
template like this::::

<router-outlet></router-outlet>  -->
<router-outlet></router-outlet>
    </div>
  </div>
</div>